version: "3.8"

services:
  database:
    image: "postgres:alpine3.18"
    environment:
      - POSTGRES_USER=johndoe
      - POSTGRES_PASSWORD=randompassword
      - POSTGRES_DB=mydb
    volumes:
      - ./db:/var/lib/postgresql/data
    # ports:
      # - "3306:3306"

  node:
    container_name: undangan_node
    build:
      context: .
      dockerfile: Dockerfile
    # environment:
      # - DB_CONNECTION=mysql
      # - DB_HOST=database
    #   - DB_PORT=3306
    #   - DB_DATABASE=laravel
    #   - DB_USERNAME=root
    #   - DB_PASSWORD=asdd
    ports:
      - 3000:3000
    # volumes:
    # - ./:/app
    # - /app/node_modules
    # - /app/vendor
    # entrypoint: ./start.sh
    command: tail -F /dev/null



